.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.get-started-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.get-started-button:hover {
    background-color: #45a049;
}