.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #7e82de;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cards-container {
  display: flex;
  justify-content: center; /* Center the items on the main-axis (horizontally) */
  align-items: center; /* Center the items on the cross-axis (vertically) */
  gap: 86px; /* 86 pixels gap between each item */
  height: 100vh; /* Full height of the viewport */
  padding: 0 43px; /* Padding to ensure the content is within the screen */
}

/* Apply this style to the body or a main container div to remove default margins */
body, .main-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}